.product-grid {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  top: 300px;
  padding-top: 100px;
  /* height: 950px; */
  margin: auto;

  h1 {
    top: 100px;
    margin-bottom: 20px;
  }

  .grid-container {
    width: 85%;
    /* height: 950px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;


    .grid-items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
      margin: 0 auto;

      grid-gap: 15px;
      position: relative;
      width: 1050px;

      .grid-item {
        /* Applying initial opacity and positioning off-screen */
        opacity: 0;
        transform: translateX(-100%);
        animation: slideIn 0.8s ease forwards;
        /* Apply animation */

        .product-card {
          max-width: 250px;
          /* width: 250px; */
          height: 350px;
          padding: 20px;
          border-radius: 8px;
          text-align: center;

          .prod-description {
            /* border: 1px solid saddlebrown; */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
              display: flex;
              align-items: center;
              height: 75px;
            }

            .rating {
              /* border: 1px solid red; */
              color: var(--ash-2);
              display: flex;
              align-items: center;
              justify-content: center;

              .star-icon {
                color: #fff;
                /* Base color for unfilled stars */
                align-items: center;
              }

              .star-icon.filled {
                color: var(--ash-2);
                /* Color for filled stars */
              }

              .star-icon.empty {
                color: #646468;
                /* Makes unfilled stars visible with only the outline */
                stroke: #393940;
                /* Outline color for unfilled stars */
                stroke-width: 1px;
              }
            }
          }

          /* Loading mask (gray box) */
          .loading-mask {
            width: 100%;
            height: 100%;
            background: #e0e0e0;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;

            /* Loading animation (Shimmer effect) */
            .loading-bar {
              width: 80%;
              height: 10px;
              background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
              background-size: 200% 100%;
              animation: shimmer 1.5s infinite;
            }
          }
        }

        .product-card:nth-child(odd) {
          background-color: var(--green-1);
          /* Color for odd items */
        }

        .product-card:nth-child(even) {
          background-color: var(--green-2);
          /* Color for even items */
        }

        .product-card img {
          width: 100%;
          height: auto;
          max-height: 200px;
          object-fit: contain;
        }

        .product-card h3,
        p {
          text-align: center;
          font-family: "MyFont1";
          color: var(--ash-2);
        }

      }

      .grid-item img {
        max-width: 100%;
        border-radius: 4px;
      }
    }
  }

  .pagination {
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .arrows {
      display: flex;
      justify-content: center;

      .arrow {
        font-size: 24px;
        margin: 0 10px;
        cursor: pointer;
      }

      .arrow[disabled] {
        color: #ccc;
        pointer-events: none;
      }
    }

  }
}






/* Sliding Animation */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
    /* Slide to original position */
  }
}

/* Shimmer effect animation */
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}