/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  .left-bar {
    /* border: 1px solid red; */

    .logo {
      /* position: absolute; */
      margin-left: 25%;
      /* transform: translateX(-50%); */

      img {
        /* margin-top: 10px; */
        /* margin-bottom: 5px; */
        margin-top: 5px;
        height: 60px;
        /* Ensure logo visibility */
      }
    }
  }

  .right-bar {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    gap: 10px;

    .signin-icon {
      /* width: 20px; */
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        display: inline;
        height: 25px;
        /* margin-left: 1130px; */
        /* gap: 15px; */
      }

      .profile-name {
        display: flex;
        /* gap: 10px; */
        color: black;
        font-family: "MyFont2";
        /* font-size: x-small; */
        /* align-items: baseline; */
        /* z-index: 1001; */
        /* border-top: 60px; */

      }
    }

    .addtocart-icon {
      img {
        width: 40px;
        cursor: pointer;
      }
      .cart-count-badge {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: red;
        color: white;
        font-size: 12px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        z-index: 1;
      }
      
    }

    .menu-icon {
      /* border: 1px solid red;  */
      font-size: 25px;
      cursor: pointer;
      /* padding: 10px; */
      /* Adjust padding as needed */
      color: #8ee8c4;
      /* margin-right: 90px;
      margin-left: -400px; */
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
    }
  }


}









.dropdown-container {
  position: absolute;
  top: 40px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  width: 130px;
  /* border: 1px solid red; */

  .dropdown-section {
    padding: 10px;
    cursor: pointer;
    position: relative;
    font-family: "Myfont2";


    .sub-dropdown-menu {
      display: none;
      position: absolute;
      left: -180px;
      /* Adjust the value to position the submenu on the left */
      top: 0;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      z-index: 1001;
      min-width: 180px;

    }

    .sub-dropdown-menu a {
      display: block;
      padding: 5px 10px;
      color: #393940;
      text-decoration: none;

    }

    .sub-dropdown-menu a:hover {
      background-color: #8ee8c4;
    }
  }

  .dropdown-section:hover {
    background-color: #8ee8c4;
  }

  .dropdown-section:hover .sub-dropdown-menu {
    display: block;

  }
}