.order-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    
  .message-box {
    background-color: #f0f0f0;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    text-align: left;
  }
  
  .continue-shopping {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--green-1);
    color: var(--ash-2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "MyFont1";
    font-size: x-small;
  }
  
  .continue-shopping:hover {
    background-color: var(--green-2);
  }
  }
  
  .order-confirmation h2 {
    color: var(--green-1);
  }
  
  .order-confirmation p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  