.footer-container {
  background-color: var(--green-1);
  text-align: center;
  padding: 20px 0;
  font-family: "MyFont2";
}

/* Blogs Section */
.footer-blogs {
  margin-bottom: 20px;
}

.footer-blogs h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

.blog-image {
  width: 100%;
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
  background-size: cover;
}

.footer-blogs p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Footer Links */
.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  column-gap: 20px;
  row-gap: 80px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Subscription Section */
.footer-subscription {
  margin-bottom: 20px;
}

.email-input {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
}

/* Footer Logo */
.footer-logo {
  font-size: 18px;
  font-weight: bold;
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  margin: 0 10px;
  color: black;
  font-size: 20px;
}

.footer-icons a:hover {
  color: #4caf50;
}
.explore-more-btn {
  background-color: var(--green-1);
  border: none;
  color: black;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.explore-more-btn:hover {
  background-color: var(--green-2);
}

.blog-dropdown {
  display: flex; /* Use Flexbox to display items horizontally */
  gap: 15px; /* Space between links */
  margin-top: 10px;
  background-color: var(--green-1);
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
}

.blog-dropdown ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Horizontal layout */
  gap: 15px; /* Space between items */
  align-items: center;
}

.blog-dropdown li {
  margin: 5px 0;
}

.blog-dropdown a {
  color: var(--ash-2);
  text-decoration: underline;
  text-decoration-color: var(--ash-2); /* Change to the color of your choice */
  text-decoration-thickness: 2px;
}

.blog-dropdown a:hover {
  color: var(--ash-1);
  text-decoration-color: var(--ash-1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-blogs h1 {
    font-size: 24px;
  }

  .blog-image {
    width: 100%;
    max-width: 100%;
  }

  .footer-links a {
    display: block;
    margin: 5px 0;
  }

  .email-input {
    width: 100%;
    max-width: 300px;
  }
}